@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/* font-family: 'Staatliches', cursive; */

p, a {

    font-family: 'Staatliches', cursive;
    font-size:16px;
}

a {
    display:block;
    text-decoration: none;
}

.btn-1 {

    background-color: rgb(167, 17, 17);
    color:  #fff;
    padding:1vw;
    margin:10vh auto;
    width:20vw;
    text-align: center;
    font-size:2em;
    border-radius:5vw;
    /* tranformation */
    transform: scale(1);
    transition: transform 400ms;
}

.btn-1:hover {

    transform: scale(2.25);
}
